.dialog {
  border: none;
  background-color: transparent;
  padding: 50px;
  outline: none;
}
.dialog__img {
  width: 75vw;
  max-width: 433px;
  height: 75vh;
  max-height: 540px;
}
.dialog__text {
  color: #ffffff;
}

.dialog__button {
  position: absolute;
  right: 1px;
  top: 6px;
  background-color: transparent;
  border: none;
  outline: none;
}

.dialog::backdrop {
  background-color: hsl(0deg 0% 3.14% / 70%);
}

@media (min-width: 200px) and (max-width: 885px) {
  .dialog__img {
    max-width: 240px;
    max-height: 299px;
  }
}
