.header {
  max-width: 880px;
  width: 100%;
  max-height: 100%;
  margin: 45px auto 40px;
  color: #545454;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}

.header__logo {
  width: 173px;
  background-size: cover;
}

@media (min-width: 200px) and (max-width: 885px) {
  .header {
    max-width: 320px;
    padding-bottom: 32px;
  }
  .header__logo {
    width: 126px;
    margin-left: 27px;
  }
}
