.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__container {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  color: #000000;
  position: relative;
}
.popup__imageContainer {
  position: relative;
}
.popup__form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
  color: #000000;
  position: relative;
}

.popup__form-x {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -47px;
  right: -44px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.popup__form-x:hover {
  filter: opacity(0.7);
}
.popup__text {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  width: 330px;
  height: 23px;
  margin-bottom: 35px;
}
.popup__name {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 27px;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.popup__about {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 27px;
  margin-bottom: 5px;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.popup__Submit-Button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 43px;
}
.popup__Submit-Button:hover {
  filter: opacity(0.7);
}
.popup_opened {
  display: flex;
  background-color: hsl(0deg 0% 3.14% / 70%);
}
.popup__input_type_error {
  border-bottom: 2px solid red;
}
.popup__red {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  width: 358px;
}
.popup__button_disabled {
  background-color: #c4c4c4;
}

@media (min-width: 200px) and (max-width: 885px) {
  .popup__container {
    padding: 2rem;
    border-radius: 10px;
  }

  .popup__form-x {
    width: 26px;
    height: 26px;
    top: -75px;
    right: -20px;
  }

  .popup__text {
    font-size: 18px;
    line-height: 22px;
    width: 238px;
    height: 22px;
    margin-bottom: 76px;
  }
  .popup__name {
    width: 238px;
    height: 26px;
  }
  .popup__about {
    width: 238px;
    height: 26px;
    margin-bottom: 46px;
  }
  .popup__Submit-Button {
    width: 238px;
    height: 46px;
  }
}
